<form name="quiz-form" data-form="admin" data-form-type="round">
    <div class="form__status"></div>
    <div class="form__field-container form__field-container--input-text">
        <label for="round-name">Round name</label>
        <input name="round-name" type="text" placeholder="My cool round" required />
    </div>
    <div class="form__field-container form__field-container--input-text">
        <label for="round-description">Round description</label>
        <input name="round-description" type="text" placeholder="Name the breed of dog" required />
    </div>
    <div class="form__field-container form__field-container--input-text">
        <label for="round-timeout">Round timeout</label>
        <input name="round-timeout" type="number" placeholder="60" />
    </div>
    <div class="form__field-container form__field-container--submit">
        <input type="submit" value="Submit">
    </div>
</form>