<div class="score__container">
    <div class="rank__container">
        <p>Rank <span class="rank__value"><%- rank %></span> of <span class="rank__total"><%- maxrank %></span></p>
    </div>
    <div class="score__container">
        <p>Current score: <span class="score__value"><%- score %></span>/<span class="score__total"><%- maxscore %></span></p>
    </div>
</div>