<form name="user-form">
    <div class="form__field-container form__field-container--input-text">
        <label for="user-name">Display name</label>
        <input name="user-name" type="text" placeholder="Agatha Quizteam" required />
    </div>
    <div class="form__field-container form__field-container--input-text">
        <label for="user-name">Room code</label>
        <input name="user-room" type="text" placeholder="e.g. NRVQ" required />
    </div>
    <div class="form__field-container form__field-container--submit">
        <input type="submit" value="Submit">
    </div>
</form>