<form name="answer-form">
    <div class="form__field-container form__field-container--input-text">
        <label for="question-answer">Enter your answer</label>
        <input name="question-answer-text" type="text" placeholder="Your answer" required />
        <input name="question-answer-id" type="hidden" value="1" />
    </div>
    <div class="form__field-container form__field-container--submit">
        <input type="submit" value="Submit">
    </div>
</form>