<div class="question__container">
    <div class="question__header">
        <p>Round <span class="question__round"><%- questionround %></span></p>
        <p>Question <span class="question__number"><%- questioncount %></span></p>
    </div>
    <div class="question__body">
        <p class="question__text"><%- questiontext %></p>
    </div>
</div>