<%- include ('../../../partials/base/header') %>
<div class="header">
    <h1>Add a new room</h1>
</div>
<div class="main">
    <%- include ('../../../partials/admin/form/room') %>
</div>
<%- include ('../../../partials/base/footer') %>
