<%- include ('../partials/base/header') %>
    <div class="header">
        <h1>404: Page not found</h1>
    </div>
    <div class="main">
        <p>Sorry, this page was not found.</p>
    </div>
<%- include ('../partials/base/footer') %>
