<%- include ('../partials/base/header') %>
    <div class="header">
        <h1>PQMMO</h1>
    </div>
    <div class="main">
        <p>Hello and welcome.</p>
        <p>Please enter your name and room code.</p>
        <%- include ('../partials/main-login') %>
    </div>
<%- include ('../partials/base/footer') %>