<html>
    <head>
        <title>PQMMO: Massively Multiplayer Online Pub Quiz</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div class="header">
            <h1>404: Page not found</h1>
        </div>
        <div class="main">
            <p>Sorry, this page was not found.</p>
        </div>
    </body>
    <%- include ('partials/footer') %>
</html>