<html>
    <head>
        <title>PQMMO: Massively Multiplayer Online Pub Quiz</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div class="header">
            <h1>Quiz Master</h1>
        </div>
        <div class="main">
            <p>This is where all the admin stuff lives.</p>
        </div>
    </body>
    <%- include ('partials/footer') %>
</html>