<html>
    <head>
        <title>PQMMO: Massively Multiplayer Online Pub Quiz</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div class="header">
            <h1>PQMMO</h1>
        </div>
        <div class="main">
            <p>Hello and welcome.</p>
            <p>Please enter your name and room code.</p>
            <%- include ('partials/main-login') %>
        </div>
    </body>
    <%- include ('partials/footer') %>
</html>