<html>
    <head>
        <title>PQMMO: Massively Multiplayer Online Pub Quiz</title>
    </head>
    <body>
        <div class="header">
            <h1>PQMMO</h1>
        </div>
        
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</html>